
#navbar-container{
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navbar-links a{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    z-index: 3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
    padding: 5px 10px;
}
.navbar-link{
    position: relative;
    border: 5px solid transparent;
}

/* 
.navbar-link:hover::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 0%;
    -webkit-box-shadow: 0 0 19px 5px #0ff,0 0 5px 3px #0ff;
            box-shadow: 0 0 19px 5px #0ff,0 0 5px 3px #0ff;
    -webkit-animation-name: half-cyan-shadow;
            animation-name: half-cyan-shadow;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    
  }
  @keyframes half-cyan-shadow {
    0% {
      top: 50%;
      left: 50%;
      height: 0%;
      width: 0%;
    }
    100% {
      top: 0%;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  
  @-webkit-keyframes half-cyan-shadow {
    0% {
        top: 50%;
        left: 50%;
        height: 0%;
        width: 0%;
      }
      100% {
        top: 0%;
        left: 0;
        height: 100%;
        width: 100%;
      }
  } */
  
  
